@{
    ViewData["Title"] = "Table of Products";
}
﻿@using ASp_MVC.ViewModels
@model ShowProductsViewModel

<h2>Products Table</h2>

@if (Model.Products.Count() > 0)
{
    <table>
        <thead >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>$@product.Price</td>
                    <td>@product.CreatedDate</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        Its seems that there no product. Add some products <a asp-area="" asp-controller="Home" asp-action="Index">here</a>
    </p>
}
