@{
    ViewData["Title"] = "Download File";
}

<h2>Download Files</h2>
<style>
    input{
        display: block;
        margin:5px 0;
    }
</style>
<form method="post" action="/File/DownloadFile">

        <input type="text" placeholder="Your First Name" name="firstName" required />
        <input type="text" placeholder="Your Last Name" name="lastName" required />
        <input type="text" placeholder="Age" name="age" required />
        <input type="text"  placeholder="File name" name="fileName" required>

    <button type="submit">Download</button>
</form>