@using ASp_new.ViewModels
@model User



<h2 >Registration Form</h2>
<form method="post" asp-action="AddUser" asp-controller="Home">
    <div>
        <input  type="text" placeholder="Your Name" name="Name" required />
    </div>
    <div >
        <input type="number" min="0" step="1" placeholder="Your Age" name="Age" required />
    </div>
    <div >
        <input type="password" placeholder="Your Password" name="Password" required />
    </div>
    <div>
        <input type="number" min="1" step="1" placeholder="Quantity  of Products" name="ProductsQTY" required />
    </div>
    <button type="submit">Submit</button>
</form>