﻿@using ASp_new.ViewModels

<h2>Error ocurred</h2>
<p >Its seems that some error is ocurred by input inalid value.</p>
<form  method="post" asp-action="Register" asp-controller="Home">
    <button type="submit">Back to Registration</button>
</form>